.pdf-viewer-widget {
  display: flex;
  overflow: hidden;
}

.pdf-viewer-widget .pdf-viewer {
  flex: 1;
  min-width: 0;
  height: 100%;
}

.pdf-viewer-widget .pdf-viewer-message {
  margin: auto;
  color: var(--theia-descriptionForeground);
}
